In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [12]:
df = pd.read_csv("dataset/student-scores.csv")

df = df.fillna(value=np.nan) # 缺失值補nan

In [15]:
# 轉換Label
label_encoder = LabelEncoder()
df['gender'] = label_encoder.fit_transform(df['gender'])
df['part_time_job'] = label_encoder.fit_transform(df['part_time_job'])
df['extracurricular_activities'] = label_encoder.fit_transform(df['extracurricular_activities'])
df['career_aspiration'] = label_encoder.fit_transform(df['career_aspiration'])

df

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,1,0,3,0,27,9,73,81,93,97,63,80,87
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,0,0,2,0,47,6,90,86,96,100,90,88,90
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,0,0,9,1,13,8,81,97,95,96,65,77,94
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,0,0,5,0,3,1,71,74,88,80,89,63,86
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,1,0,5,0,10,15,84,77,65,65,80,74,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,1,0,2,0,30,4,83,77,84,73,75,84,82
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,1,0,2,0,20,12,89,65,73,80,87,67,73
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,0,0,5,0,14,12,97,85,63,93,68,94,78
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,0,1,10,1,5,3,51,96,72,89,95,88,75
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,0,0,5,0,27,0,82,99,91,69,83,93,100

In [20]:
df.drop("first_name", axis=1, inplace=True)
df.drop("last_name", axis=1, inplace=True)
df.drop("email", axis=1, inplace=True)

In [22]:
df["math_score"] = (df["math_score"] // 10) * 10
df["history_score"] = (df["history_score"] // 10) * 10
df["physics_score"] = (df["physics_score"] // 10) * 10
df["chemistry_score"] = (df["chemistry_score"] // 10) * 10
df["biology_score"] = (df["biology_score"] // 10) * 10
df["english_score"] = (df["english_score"] // 10) * 10
df["geography_score"] = (df["geography_score"] // 10) * 10

In [23]:
df

,id,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,1,0,3,0,27,9,70,80,90,90,60,80,80
1,2,0,0,2,0,47,6,90,80,90,100,90,80,90
2,3,0,0,9,1,13,8,80,90,90,90,60,70,90
3,4,0,0,5,0,3,1,70,70,80,80,80,60,80
4,5,1,0,5,0,10,15,80,70,60,60,80,70,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,1,0,2,0,30,4,80,70,80,70,70,80,80
1996,1997,1,0,2,0,20,12,80,60,70,80,80,60,70
1997,1998,0,0,5,0,14,12,90,80,60,90,60,90,70
1998,1999,0,1,10,1,5,3,50,90,70,80,90,80,70
1999,2000,0,0,5,0,27,0,80,90,90,60,80,90,100

In [24]:
df.to_csv(f"./dataset/student_scores_clean.csv", index=False)